* {
  margin: 0;
  padding: 0;
}

body {
  background: #303841;
}

.navigation {
  background: #be3144;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  padding: 20px;
}

ul {
  list-style: none;
}

.links {
  display: flex;
  margin-right: 40px;
}

.nav-links {
  text-decoration: none;
  color: white;
  padding: 20px 10px;
}

.nav-links:hover {
  background: #303841;
}

#welcome-section {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  height: 55vh;
}

.main-heading {
  text-align: center;
  color: white;
  padding: 20px;
  font-weight: 6000;
  font-size: 40px;
}

p {
  text-align: center;
  color: #be3144;
}

.projects-container{
  display: grid;
}

.projects{
  padding-top: 80px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  height: 55vh;
  background: #45567d;
}
.project{
  display: flex;
  padding: 10px;
  color: white;
}
